<!doctype html>
<html lang="en">
<head>
    <title>Oops!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>

<h1>Oops!</h1>

{{>navpartial}}

<main>

<p class="red"><b>Something went wrong :(</b></p>

<pre class="small grey">{{err.stack}}</pre>

</main>

</body>
</html>
