<!doctype html>
<html lang="en">
<head>
    <title>Error Logs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/admin.css">
    <style>
        pre  {
            font: 80% 'Lucida Console', Consolas, Monaco, 'Andale Mono', monospace;
            line-height: 1.2;
            overflow: visible;
        }
        label:first-child { display: inline-block; min-width: 8em; }
        .toggle { color: #999999; cursor: pointer; }
        td.status5xx { color: #cc3333; font-weight: bold; }
    </style>
    <script src="/js/dev-logs.js"></script>
</head>
<body>

<header>

{{>navpartial}}

</header>

<main>

<h1>Error Logs</h1>

<form>
    <ul>
        <li>
            <label for="from">From</label>
            <input type="date" name="from" id="from" value="{{filter.from}}" min="{{filterMin}}" max="{{filterMax}}">
            <label for="to">to</label>
            <input type="date" name="to" id="to" value="{{filter.to}}" min="{{filterMin}}" max="{{filterMax}}">
        </li>
    </ul>
</form>

<p class="grey">Roll mouse over URL to see query strings; hover mouse over platform to see
    originating ip/domain. Click ▼ to see stack trace for status 500 errors.</p>

<table class="small">
    {{#entries}}
    <tr class="{{status-colour}}">
        <td class="nowrap">{{time}}</td>
        <td>{{method}}</td>
        <td class="grey">{{host}}</td>
        <td title="{{qs}}" {{#if pathFull}}data-pathfull="{{pathFull}}"{{/if}}>{{path}}</td>
        <td class="grey">{{user}}</td>
        <td class="{{codes}}" title="{{redir}}">{{status}}</td>
        <td class="grey nowrap">{{ua}}</td>
        <td class="grey nowrap ip-domain" title="{{ip}}">{{os}}</td>
        <td class="toggle {{showstack}}" title="stack trace">▼</td>
    </tr>
    {{#if stack}}
    <tr class="hide">
        <td colspan="9"><pre>{{stack}}</pre></td>
    </tr>
    {{/if}}
    {{/entries}}
</table>
</main>

</body>
</html>
