<!doctype html>
<html lang="en">
<head>
    <title>Koa Sample App (handlebars templating + RESTful API using MySQL, on Node.js)</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>

<h1>Koa Sample App (handlebars templating + RESTful API using MySQL, on Node.js)</h1>

{{>navpartial}}

<main>

<p>This is the web-based  ‘admin’ section of the Koa Sample App
    <a href="http://github.com/chrisveness/koa-sample-web-app-api-mysql">
    github.com/chrisveness/koa-sample-web-app-api-mysql</a>.</p>

{{#if @koa.state.user}}
<p>The functionality is trivial; the point is to showcase the code supporting it.</p>
<p><a href="/apidoc/">API documentation</a> is also available.</p>
{{else}}
<p>All admin functionality requires <a href="/login">logging in</a>.</p>
{{/if}}

<p>For more details, see the <a href="http://www.{{@koa.state.domain}}">www</a> section.</p>

</main>

</body>
</html>
