<!doctype html>
<html lang="en">
<head>
    <title>Logs: {{logfile}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/admin.css">
    <style>
        pre  {
            font: 80% 'Lucida Console', Consolas, Monaco, 'Andale Mono', monospace;
            line-height: 1.2;
            overflow: visible;
        }
    </style>
</head>
<body>

<h1>Logs: {{logfile}}</h1>

{{>navpartial}}

<main>

<pre>{{bunyan}}</pre>

</main>

</body>
</html>
