<!doctype html>
<html lang="en">
<head>
    <title>Delete member</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>

<h1>Delete member</h1>

{{>navpartial}}
{{>errpartial}}

<main>

<form method="post">
    <p>Are you sure you want to delete {{Firstname}} {{Lastname}}?
    <button type="submit">Delete</button>
</form>

</main>

</body>
</html>
