<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Password Reset</title>
</head>
<body>

<p>Dear {{Firstname}},</p>

<p>To reset your password, please click on
    <a href="http://{{host}}/password/reset/{{token}}">this link</a> which will take you to an
    authenticated reset password page.</p>

<p>If clicking on the link does not work, please visit http://{{host}}/password/reset/{{token}}
    in your browser.</p>

<p>This password reset link will be valid for 24 hours from the date requested.</p>

<p>If you did not request this password reset, please ignore this e-mail.</p>

</body>
</html>
