<!doctype html>
<html lang="en">
<head>
    <title>Reset password request</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>

<header>

{{>navpartial}}
{{>errpartial}}

</header>

<main>

<h1>Reset password request</h1>

<p>If your e-mail is recognised, we have sent you a password reset e-mail.</p>
<p>This reset link will be valid for 24 hours, and can only be used once.</p>
<p>If you do not see the e-mail in the next few minutes, please check your spam folder, and add
    info@{{host}} to your contacts so that it will be recognised by your e-mail client.</p>

</main>

</body>
</html>
