<!doctype html>
<html lang="en">
<head>
    <title>Reset password request</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/password-reset.js"></script>
</head>
<body>

<header>
{{>navpartial}}
</header>

<main>

<h1>Password Reset</h1>

{{>errpartial}}

{{#if badToken}}
<p>This password reset link is either invalid, expired, or previously used.</p>
{{/if}}

{{#if @koa.flash.pwnedCount}}
    <p>This password has previously appeared in a <a href="https://haveibeenpwned.com/">data breach</a>
        ({{@koa.flash.pwnedCount}}) – you might like to use a different password!</p>
{{/if}}

{{#if valid}}
<form method="post">
    <fieldset><legend>Enter your new password</legend>
        <ul>
            <li>
                <label for="password">New password</label>
                <input name="password" id="password" type="password" value="{{password}}" autofocus required class="w16">
            </li>
            <li>
                <label for="password-confirm">Confirm password</label>
                <input name="passwordConfirm" id="password-confirm" type="password" value="{{password}}" required class="w16">
            </li>
            <li>
                <label></label>
                <button type="submit">Reset password</button>
            </li>
        </ul>
    </fieldset>
    <input type="hidden" name="pwnedNotified" value="{{@koa.flash.pwnedNotified}}">
</form>
{{/if}}

</main>

</body>
</html>
