<!doctype html>
<html lang="en">
<head>
    <title>Reset password request</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script>
        'use strict';
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelector('#password').onsubmit = validatePwMatch(this);
            document.querySelector('#password-confirm').onsubmit = validatePwMatch(this);
        });

        function validatePwMatch(input) {
            if (input.setCustomValidity == undefined) return;
            var err = 'Passwords must match';
            var ok = input.form.password.value == input.form.passwordConfirm.value;
            input.form.password.setCustomValidity('');        // reset default
            input.form.passwordConfirm.setCustomValidity(''); // reset default
            input.setCustomValidity(ok ? '' : err);           // confirm match
        }
    </script>
</head>
<body>

<header>

{{>navpartial}}
{{>errpartial}}

</header>

<main>

<h1>Password Reset</h1>

    {{#if badToken}}
    <p>This password reset link is either invalid, expired, or previously used.</p>
    {{/if}}


    {{#if valid}}
    <form method="post">
        <fieldset><legend>Enter your new password</legend>
            <ul>
                <li>
                    <label for="password">New password</label>
                    <input name="password" id="password" type="password" autofocus class="w16" oninput="validatePwMatch(this)">
                </li>
                <li>
                    <label for="passwordConfirm">Confirm password</label>
                    <input name="passwordConfirm" id="passwordConfirm" type="password" class="w16" oninput="validatePwMatch(this)">
                </li>
                <li>
                    <label></label>
                    <button type="submit">Reset password</button>
                </li>
            </ul>
        </fieldset>
    </form>
    {{/if}}

</main>

</body>
</html>
