<!doctype html>
<html lang="en">
<head>
    <title>Reset password request</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/admin.css">
    <style>
        label { width: auto; }
        p { max-width: 48em; }
    </style>
</head>
<body>

<header>

{{>navpartial}}
{{>errpartial}}

</header>

<main>

<h1>Reset password request</h1>

<form method="post">
    <p>If you have forgotten your password, wish to reset it, or you require an initial password,
        we can send you an email with a password reset link. (If you remember your password in the
        meantime, you can ignore this reset e-mail.)</p>
    <label for="email">Your e-mail address</label>
    <input name="email" id="email" type="email" required class="w16">
    <button type="submit">Send password reset e-mail</button>
</form>

</main>

</body>
</html>
