<!doctype html>
<html lang="en">
<head>
    <title>Reset password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>

<header>

{{>navpartial}}
{{>errpartial}}

</header>

<main>

<h1>Reset password</h1>

<p>Your password has been reset.</p>

<p>You can now <a href="/login">login</a>.</p>

</main>

</body>
</html>
