<!doctype html>
<html lang="en">
<head>
    <title>Edit team</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/admin.css">
    <style>
        table button { background: none; border: none; padding: 0; }
        table button:hover { cursor: pointer; }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', async function() {
            'use strict';
            var doc = document; doc.qrySel = doc.querySelector; doc.qrySelAll = doc.querySelectorAll;

            doc.qrySel('button.add-membership').onclick = function() {
                const select = doc.qrySel('select.add-membership');
                select.classList.toggle('hide');
                select.focus();
            };

            doc.qrySel('select.add-membership').onchange = addMembership;

            doc.qrySelAll('button.delete-membership').forEach(button => button.onclick = deleteMembership);

            async function addMembership(event) {
                const select = event.target;
                var values = JSON.stringify({
                    TeamId:   {{TeamId}},
                    MemberId: this.value,
                    JoinedOn: new Date().toISOString().replace('T',' ').split('.')[0],
                });
                const headers = { 'Content-Type': 'application/json', Accept: 'application/json' };
                const credentials = 'same-origin';
                const response = await fetch('/ajax/team-members', { method: 'POST', body: values, headers, credentials });
                if (response.ok) {
                    // add new row (cloned from 1st membership row), remove entry from select
                    const body = await response.json();
                    const thisRow = select.closest('tr');
                    if (thisRow.nextElementSibling) {
                        const newRow = thisRow.nextElementSibling.cloneNode(true);
                        newRow.id = select.value;
                        newRow.children[0].textContent = select.options[select.selectedIndex].label;
                        newRow.querySelector('button').value = body.TeamMemberId;
                        newRow.querySelector('button').onclick = deleteMembership; // onclick doesn't get cloned
                        thisRow.insertAdjacentElement('afterend', newRow);
                        select.remove(select.selectedIndex);
                        select.classList.add('hide');
                    } else {
                        // no tr to clone - cop out & reload page for now...
                        window.location.reload();
                    }
                } else {
                    alert(response.statusText)
                }
            };

            async function deleteMembership(event) {
                const button = event.target;
                const teamMembershipId = button.value;
                const headers = { Accept: 'application/json' };
                const credentials = 'same-origin';
                const response = await fetch('/ajax/team-members/'+teamMembershipId, { method: 'DELETE', headers, credentials });
                if (response.ok) {
                    const thisRow = button.closest('tr');
                    const memberId = thisRow.id;
                    const memberName = thisRow.children[0].textContent;
                    const selector = button.closest('table').querySelector('select');
                    const opt = document.createElement('option');
                    opt.value = memberId;
                    opt.text = memberName;
                    selector.add(opt);
                    thisRow.remove();
                } else {
                    alert(response.statusText)
                }
            }

            // escape will hide 'add-membership' select if it is displayed
            document.onkeyup = function(event) {
                if (event.key == 'Escape') doc.qrySel('select.add-membership').classList.add('hide');
            }
        });
    </script>
</head>
<body>

<h1>Edit team</h1>

{{>navpartial}}
{{>errpartial}}

<main>

<form method="post">
    <ul>
        <li>
            <label for="Name">Name</label>
            <input name="Name" id="Name" value="{{Name}}" required autofocus>
        </li>
        <li>
            <label></label>
            <button type="submit" class="fa fa-check-square-o green" title="Update"></button>
        </li>
    </ul>
</form>

<h2>Members</h2>

<table>
    <tr>
        <td>
            <select name="add-membership" required class="add-membership hide">
                <option></option>
                {{#notTeamMembers}}
                <option value="{{MemberId}}">{{Firstname}} {{Lastname}}</option>
                {{/notTeamMembers}}
            </select>
        </td>
        <td><button type="submit" class="add-membership fa fa-plus small grey" title="add membership"></button></td>
    </tr>
    {{#teamMembers}}
    <tr id="{{MemberId}}">
        <td>{{Firstname}} {{Lastname}}</td>
        <td><button type="button" value="{{TeamMemberId}}" class="delete-membership fa fa-trash small grey" title="delete membership"></button></td>
    </tr>
    {{/teamMembers}}
</table>


</main>

</body>
</html>
