<!doctype html>
<html lang="en">
<head>
    <title>Koa Sample App (handlebars templating + RESTful API using MySQL, on Node.js)</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/www.css">
    <style>
        pre  {
            background-color: #f7f7f7;
            font: 80% 'Lucida Console', Consolas, Monaco, 'Andale Mono', monospace;
            line-height: 1.2;
            padding: 16px;
        }
    </style>
</head>
<body>

<h1>koa-sample-web-app-api-mysql</h1>

{{>navpartial}}

<main>

<p>This is the (unsecured) ‘www’ section of the Koa Sample App
    <a href="http://github.com/chrisveness/koa-sample-web-app-api-mysql">
    github.com/chrisveness/koa-sample-web-app-api-mysql</a>, showing the github readme.</p>

{{{content}}}

</main>

</body>
</html>
